table /* Personalizo la tabla con borde rojo y tamaño de la fuente también a 1.3 rem, con width 120% para que todas las columnas tengan espacio al final. */
{
    /* border-collapse: unset; Esta linea rompe el control del estilo de Bootstrap. */
    border: 1px solid red;
    font-size: 1.3rem;
    /* width: 100%; */
}

td /* A los títulos, filas y columnas de la tabla les doy borde de color azul y el tamaño de la fuente a 1.3 rem. */
{
    border: 1px solid blue;
    font-size: 1.3rem;
    width: 100px;
    height: 100px;
}

#option
{
    visibility: hidden;
}